header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    
}


/* CTA BUTTON */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    
    
}

/* socials */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 1.3rem;
    bottom: 2rem;
    font-size: 25px;
    --color-primary: rgba(249, 243, 246, 0.99);
}
.header_socials a:hover {
    color: rgba(187, 30, 56, 0.692);
}
/* image adjusting in ME */



.flower-container {
    position: absolute;
    top: 48%;
    left: 49%;
    bottom: 20%;
    transform: translate(-50%, -50%);

  
  }
  
  .flower-image {
    width: 670px; 
  }
  .me-image {
    width: 360px;
    position: absolute;
    z-index: 2;
    top: 345px;
    left: -8px;
    transform: translate(-50%, -50%);
}

/*scroll down link position */

.scroll_down {
    position: absolute;
    right: -1.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 22px;
    --color-primary: rgba(249, 243, 246, 0.99);

}
.scroll_down:hover {
   color: rgba(187, 30, 56, 0.692);
}

/* media queries for medium devies */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* for smaller devices */
@media screen and (max-width: 600px){
    header {
        height: 100vh;
    }
    .header_socials,
    .scroll_down {
        display: none;
    }
}