header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    
}


/* CTA BUTTON */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    
}

/* socials */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 10rem;

}
.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-white);
}

/* image adjusting in ME */

.me {
    background: linear-gradient(var(--color-header), rgba(244, 198, 225, 0.096));
    width: 23rem;
    height:  35rem;
    left: 0rem;
    margin-top: 3rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    position: relative;
}

img {
    height: 20rem;
}

/*scroll down link position */

.scroll_down {
    position: absolute;
    right: -1.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* media queries for medium devies */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* for smaller devices */
@media screen and (max-width: 600px){
    header {
        height: 100vh;
    }
    .header_socials,
    .scroll_down {
        display: none;
    }
}